[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-generic-json-views = "*"
django-filter = "*"
googlemaps = "*"
pyshp = "*"
fiona = "*"

[dev-packages]
autopep8 = "*"
ipykernel = "*"

[requires]
python_version = "3.8"
